@using System.Net
@model VotingApp.Models.VoteViewModel 

@{
    ViewData["Title"] = "Vote!";
}

<div id="container">
    <form id="form" name="form" action="/" method="post">
        <div id="debug">Running on - @Dns.GetHostName() </div>
        <div id="logo">Cats versus Dogs</div>
        <div id="space"></div>
        <div id="form">
            <button name="vote" value="Cats" asp-action="Vote1" class="button button1">Cats</button>
            <button name="vote" value="Dogs" asp-action="Vote2" class="button button2">Dogs</button>
            <button name="vote" value="reset" asp-action="Reset" class="button button3">Reset</button>
            <div id="space"></div>
            <div id="space"></div>
            <div id="results"> Cats - @Model.Vote1 | Dogs - @Model.Vote2 </div>
        </div>
    </form>        
</div>     